<form>
  <div class="form-group">
    <label for="usuario">Seu Nome</label>
    <input type="text" class="form-control" id="usuario" placeholder="Usuário" [(ngModel)]="usuario">
</div>
 <div class="form-group">
   <label for="texto">Texto</label>
   <textarea [(ngModel)]="texto" id="texto"></textarea>
 </div>
 <button type="submit" class="btn btn-default" (click)="adicionar()">Salvar</button>
</form>
