<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{post.usuario}}</h3>
    </div>
    <div class="panel-body">
        <p>{{post.texto}}</p>
        <p>
            Curtidas: {{post.likes}} <span class="glyphicon glyphicon-heart"></span>
        </p>
    </div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" (click)="like(post)">Like</button>
        <button type="button" class="btn btn-danger" (click)="excluir(post)">Excluir Post</button>

    </div>