<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/logo.png" alt="" />
      </a>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/">Página Inicial</a></li>
          <li><a routerLink="/postar">Nova Publicação</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">{{usuario}}</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</div>