<div class="container-fluid">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="span10" *ngFor=" let post of posts; let i = index">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{post.usuario}}</h3>
                </div>
                <div class="panel-body">
                    {{post.texto}}
                </div>
                <p  class="text-xs-left">
                    Curtidas: {{post.likes}} <span class="glyphicon glyphicon-heart"></span>
                </p>
                <div class="btn-group btn-group-justified" role="group">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" (click)="curtir(i)">Curtir</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-secondary">Comentar</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success">Compartilhar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>