 * {
     margin: 0px;
     padding: 0px;
 }
 
 .logo {
     float: left;
 }
 
 header {
     background-color: #00ADEF;
     padding: 10px;
     overflow: auto;
 }
 
 .container {
     width: 1024px;
     margin: auto;
 }
 
 .busca {
     background-color: white;
 }
 
 form {
     float: left;
     background-color: white;
     padding: 0px 3px 0px 0px;
     border-radius: 4px;
     margin-left: 20px;
     position: relative;
     top: 10px;
 }
 
 form>input[type=search] {
     width: 550px;
     padding: 13px;
     border: none;
     outline: none;
     border-radius: 4px;
 }
 
 form>input[type=submit] {
     background-color: #00ADEF;
     border: none;
     padding: 10px;
     outline: none;
     border-radius: 4px;
 }
 
 .login {
     padding: 8px;
     float: left;
 }
 
 .login>span {
     display: block;
     color: white;
 }
 
 .login>.cima {
     font-size: 20px;
 }
 
 .login>.baixo {
     font-size: 14px;
 }
 
 #menuCategorias {
     color: #0033cc;
 }
 
 #melhoresOfertas {
     color: crimson;
 }
 
 .menu {
     width: auto;
     margin: auto;
     background-color: #f1f1f1;
     text-align: center;
 }
 
 .menu a {
     text-decoration: none;
     float: left;
     padding: 8px;
     background-color: #f1f1f1;
 }
 
 .menu ul {
     display: inline-block;
     list-style: none;
     margin: 0;
     padding: 0;
     text-align: center;
 }
 
 .menu ul a {
     align-items: center;
     color: #000;
 }
 
 .menu ul li {
     margin-left: 10px;
     float: left;
     text-align: center;
 }
 
 #produtos {
     width: 1024px;
     margin: auto;
     margin-bottom: 20px;
     display: flex;
 }
 
 .produto {
     width: 25%;
     height: 25%;
     margin-top: 25px;
     border: 1px solid #ddd;
     border-radius: 10px;
     float: left;
     margin-left: 10px;
 }
 
 .produto img {
     width: 90%;
     margin: 12px;
 }
 
 .produto h1 {
     color: grey;
     font-size: 20px;
     margin: 12px;
 }
 
 .produto p {
     margin: 12px;
 }
 
 .produto h2 {
     margin: 12px;
     font-size: 17px;
 }
 
 .produto h5 {
     margin: 12px;
     color: darkgrey;
 }
 
 .star-ratings-css {
     unicode-bidi: bidi-override;
     color: red;
     font-size: 25px;
     height: 25px;
     width: 125px;
     margin: 12px;
     position: relative;
     padding: 0;
     text-shadow: 0px 1px 0 #a2a2a2;
 }
 
 .star-ratings-css-top {
     color: #e7711b;
     padding: 0;
     position: absolute;
     z-index: 1;
     display: block;
     top: 0;
     left: 0;
     overflow: hidden;
 }
 
 .carousel {
     width: 1024px;
     height: 240px;
     overflow: hidden;
     position: relative;
     margin: 0 auto;
 }
 
 .carousel-slide {
     height: 240px;
     position: absolute;
     top: 0;
     left: 0;
 }
 
 .carousel span {
     width: 34px;
     height: 50px;
     background: rgba(0, 0, 0, 0.5);
     position: absolute;
     top: 80px;
     z-index: 10;
     color: #fff;
     text-align: center;
     cursor: pointer;
     border: 2px solid #bbb;
     font-size: 30px;
 }
 
 .carousel-slide div {
     float: left;
 }
 
 .carousel .carousel-left {
     display: none;
     border-radius: 0 36px 36px 0;
     padding: 10px 4px 0 0;
     border-left: none;
 }
 
 .carousel .carousel-right {
     right: 0;
     border-radius: 36px 0 0 36px;
     padding: 10px 0 0 4px;
     border-right: none;
 }
